.App {
  width: 100%;
}

.ant-layout-header {
  background: #001529;
  position: fixed;
  z-index: 1;
  width: 100%;
  display: flex;
  align-items: center;
}

.logo {
  float: left;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  margin-right: 50px;
}




